<div id="<%= dom_id information %>">
  <p>
    <strong>First name:</strong>
    <%= information.first_name %>
  </p>

  <p>
    <strong>Lats name:</strong>
    <%= information.lats_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= information.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= information.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= information.twitter %>
  </p>

</div>
